In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.1.5'

In [2]:
pd.options.display.float_format = '{:,.3f}'.format

In [3]:
import seaborn as sns

In [4]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [5]:
df.describe(include='all') #Muestra calculos estadisticos en general de los datos

        total_bill     tip   sex smoker  day    time    size
count      244.000 244.000   244    244  244     244 244.000
unique         nan     nan     2      2    4       2     nan
top            nan     nan  Male     No  Sat  Dinner     nan
freq           nan     nan   157    151   87     176     nan
mean        19.786   2.998   NaN    NaN  NaN     NaN   2.570
std          8.902   1.384   NaN    NaN  NaN     NaN   0.951
min          3.070   1.000   NaN    NaN  NaN     NaN   1.000
25%         13.348   2.000   NaN    NaN  NaN     NaN   2.000
50%         17.795   2.900   NaN    NaN  NaN     NaN   2.000
75%         24.127   3.562   NaN    NaN  NaN     NaN   3.000
max         50.810  10.000   NaN    NaN  NaN     NaN   6.000

In [6]:
df['day'].value_counts() #Cuenta la catidad repetida de cada categoria

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [7]:
df['day'].value_counts() / df['day'].value_counts().sum() * 100 #Calculo en porcetajes

Sat    35.656
Sun    31.148
Thur   25.410
Fri     7.787
Name: day, dtype: float64

In [8]:
df.groupby('sex').mean() #Agrupacion y calculo de promedios

        total_bill   tip  size
sex
Male        20.744 3.090 2.631
Female      18.057 2.833 2.460

In [9]:
df['prct_tip'] = df['tip']/df['total_bill'] *100 #Porcentaje de la propina con respecto a la factura
df

     total_bill   tip     sex smoker   day    time  size  prct_tip
0        16.990 1.010  Female     No   Sun  Dinner     2     5.945
1        10.340 1.660    Male     No   Sun  Dinner     3    16.054
2        21.010 3.500    Male     No   Sun  Dinner     3    16.659
3        23.680 3.310    Male     No   Sun  Dinner     2    13.978
4        24.590 3.610  Female     No   Sun  Dinner     4    14.681
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3    20.393
240      27.180 2.000  Female    Yes   Sat  Dinner     2     7.358
241      22.670 2.000    Male    Yes   Sat  Dinner     2     8.822
242      17.820 1.750    Male     No   Sat  Dinner     2     9.820
243      18.780 3.000  Female     No  Thur  Dinner     2    15.974

[244 rows x 8 columns]

In [10]:
df.groupby('sex').mean()

        total_bill   tip  size  prct_tip
sex
Male        20.744 3.090 2.631    15.765
Female      18.057 2.833 2.460    16.649

In [11]:
df.groupby('sex').median()

        total_bill   tip  size  prct_tip
sex
Male        18.350 3.000     2    15.349
Female      16.400 2.750     2    15.558

In [12]:
df.groupby('sex')[['prct_tip']].describe() #Se puede aplicar una serie de funciones, en este caso solo a prct_tip
#A esta funcion se le aplica el describe

       prct_tip
          count   mean   std   min    25%    50%    75%    max
sex
Male    157.000 15.765 6.478 3.564 12.139 15.349 18.624 71.034
Female   87.000 16.649 5.363 5.643 14.042 15.558 19.427 41.667

In [13]:
df.groupby('sex')[['total_bill', 'prct_tip']].describe()

       total_bill                            ... prct_tip
            count   mean   std   min    25%  ...      min    25%    50%    75%    max
sex                                          ...
Male      157.000 20.744 9.246 7.250 14.000  ...    3.564 12.139 15.349 18.624 71.034
Female     87.000 18.057 8.009 3.070 12.750  ...    5.643 14.042 15.558 19.427 41.667

[2 rows x 16 columns]

In [14]:
def mean_eur2usd(x):
  return np.mean(x)*1.12

In [15]:
mean_eur2usd([100, 102]) #Prueba de la funcion

113.12

In [16]:
df.groupby('sex')[['total_bill', 'prct_tip']].apply(mean_eur2usd) #Aplicacion de la funcion creada

        total_bill  prct_tip
sex
Male        23.233    17.657
Female      20.224    18.647

In [17]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(mean_eur2usd) #Aqui se aplica una funcion a una doble agrupacion

               total_bill  prct_tip
sex    time
Male   Lunch       20.214    18.601
       Dinner      24.037    17.406
Female Lunch       18.300    18.176
       Dinner      21.519    18.964

In [18]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(np.std) #Variacion estandar

               total_bill  prct_tip
sex    time
Male   Lunch        7.832     4.503
       Dinner       9.423     6.867
Female Lunch        7.393     3.437
       Dinner       8.123     6.279

In [19]:
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].apply(lambda x: np.mean(x)*1.12)
#Realiza lo mismo que mean_eur2usd() pero con lamdas
#x: este es una lista

               total_bill  prct_tip
sex    time
Male   Lunch       20.214    18.601
       Dinner      24.037    17.406
Female Lunch       18.300    18.176
       Dinner      21.519    18.964

In [20]:
#Para aplicar mas de una funcion se usa aggregate o su version corta: agg
df.groupby(['sex', 'time'])[['total_bill', 'prct_tip']].aggregate([np.mean, np.std, np.max, np.min, lambda x: np.mean(x)*1.12, mean_eur2usd])

              total_bill               ... prct_tip
                    mean   std   amax  ...     amin <lambda_0> mean_eur2usd
sex    time                            ...
Male   Lunch      18.048 7.953 41.190  ...    7.862     18.601       18.601
       Dinner     21.461 9.461 50.810  ...    3.564     17.406       17.406
Female Lunch      16.339 7.501 43.110  ...    7.296     18.176       18.176
       Dinner     19.213 8.202 44.300  ...    5.643     18.964       18.964

[4 rows x 12 columns]

In [21]:
#Agregar funciones a traves de diccionarios; este contendrÃ¡ un conjunto de funciones
dict_agg = {'tip': [min, max], 'total_bill': [np.mean, mean_eur2usd, lambda x: np.mean(x)*1.12], 'prct_tip': [np.std]}
dict_agg

{'prct_tip': [<function numpy.std>],
 'tip': [<function min>, <function max>],
 'total_bill': [<function numpy.mean>,
  <function __main__.mean_eur2usd>,
  <function __main__.<lambda>>]}

In [22]:
df.groupby(['sex', 'time'])[['tip', 'prct_tip', 'total_bill']].agg(dict_agg)
#En este caso importarÃ¡ el orden entre tip y prct_tip; ya que uno depende de otro; el resto no tendra relevancia el orden

                tip        total_bill                         prct_tip
                min    max       mean mean_eur2usd <lambda_0>      std
sex    time
Male   Lunch  1.440  6.700     18.048       20.214     20.214    4.573
       Dinner 1.000 10.000     21.461       24.037     24.037    6.895
Female Lunch  1.250  5.170     16.339       18.300     18.300    3.487
       Dinner 1.000  6.500     19.213       21.519     21.519    6.340

In [23]:
def f_filter(x):
  return mean_eur2usd(x['total_bill'].mean()) > 20
  #Este calcula el promedio de la columna agrupada de total_bill
  #Luego hace la conversion con la funcion mean_eur2usd
  #Por ultimo recoge los datos mayores a 20

In [24]:
df_filtered = df.groupby(['sex', 'time']).filter(f_filter)
df_filtered

     total_bill   tip     sex smoker   day    time  size  prct_tip
0        16.990 1.010  Female     No   Sun  Dinner     2     5.945
1        10.340 1.660    Male     No   Sun  Dinner     3    16.054
2        21.010 3.500    Male     No   Sun  Dinner     3    16.659
3        23.680 3.310    Male     No   Sun  Dinner     2    13.978
4        24.590 3.610  Female     No   Sun  Dinner     4    14.681
..          ...   ...     ...    ...   ...     ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3    20.393
240      27.180 2.000  Female    Yes   Sat  Dinner     2     7.358
241      22.670 2.000    Male    Yes   Sat  Dinner     2     8.822
242      17.820 1.750    Male     No   Sat  Dinner     2     9.820
243      18.780 3.000  Female     No  Thur  Dinner     2    15.974

[209 rows x 8 columns]

In [25]:
df_filtered.groupby(['sex', 'time']).count()

               total_bill     tip  smoker     day    size  prct_tip
sex    time
Male   Lunch       33.000  33.000  33.000  33.000  33.000    33.000
       Dinner     124.000 124.000 124.000 124.000 124.000   124.000
Female Lunch          nan     nan     nan     nan     nan       nan
       Dinner      52.000  52.000  52.000  52.000  52.000    52.000

In [26]:
df['ones'] = 1
df

     total_bill   tip     sex smoker   day    time  size  prct_tip  ones
0        16.990 1.010  Female     No   Sun  Dinner     2     5.945     1
1        10.340 1.660    Male     No   Sun  Dinner     3    16.054     1
2        21.010 3.500    Male     No   Sun  Dinner     3    16.659     1
3        23.680 3.310    Male     No   Sun  Dinner     2    13.978     1
4        24.590 3.610  Female     No   Sun  Dinner     4    14.681     1
..          ...   ...     ...    ...   ...     ...   ...       ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3    20.393     1
240      27.180 2.000  Female    Yes   Sat  Dinner     2     7.358     1
241      22.670 2.000    Male    Yes   Sat  Dinner     2     8.822     1
242      17.820 1.750    Male     No   Sat  Dinner     2     9.820     1
243      18.780 3.000  Female     No  Thur  Dinner     2    15.974     1

[244 rows x 9 columns]

In [27]:
df_g = df.groupby(['sex', 'smoker'])[['ones']].sum() #Se agrupan y se suman la cantidad de cada grupo
df_g

               ones
sex    smoker
Male   Yes       60
       No        97
Female Yes       33
       No        54

In [28]:
df_g.groupby(level = 0).apply( #Agrupacion por uno de sus indices; en este caso en el nivel del genero
    lambda x:
      x/x.sum() * 100 #Solucion ej: 60/(60+97)
)

                ones
sex    smoker
Male   Yes    38.217
       No     61.783
Female Yes    37.931
       No     62.069

In [29]:
pd.cut(df['total_bill'], bins = 3) #Categorizado en intervalos; bins: es el numero de categorias

0       (3.022, 18.983]
1       (3.022, 18.983]
2      (18.983, 34.897]
3      (18.983, 34.897]
4      (18.983, 34.897]
             ...
239    (18.983, 34.897]
240    (18.983, 34.897]
241    (18.983, 34.897]
242     (3.022, 18.983]
243     (3.022, 18.983]
Name: total_bill, Length: 244, dtype: category
Categories (3, interval[float64]): [(3.022, 18.983] < (18.983, 34.897] < (34.897, 50.81]]

In [30]:
pd.cut(df['total_bill'], bins = 3).value_counts() #Se cuentan la cantidad de cada categoria

(3.022, 18.983]     140
(18.983, 34.897]     88
(34.897, 50.81]      16
Name: total_bill, dtype: int64

In [31]:
pd.cut(df['total_bill'], bins = [3, 18, 35, 60]).value_counts() #Tambien se puede marcar de un rango a otro deseado

(3, 18]     127
(18, 35]    101
(35, 60]     16
Name: total_bill, dtype: int64

In [32]:
df['bin_total'] = pd.cut(df['total_bill'], bins = [3, 18, 35, 60]) #Se guarda en una nueva columna que estarÃ¡ asociada
#a una nueva categoria
df

     total_bill   tip     sex smoker  ... size prct_tip  ones  bin_total
0        16.990 1.010  Female     No  ...    2    5.945     1    (3, 18]
1        10.340 1.660    Male     No  ...    3   16.054     1    (3, 18]
2        21.010 3.500    Male     No  ...    3   16.659     1   (18, 35]
3        23.680 3.310    Male     No  ...    2   13.978     1   (18, 35]
4        24.590 3.610  Female     No  ...    4   14.681     1   (18, 35]
..          ...   ...     ...    ...  ...  ...      ...   ...        ...
239      29.030 5.920    Male     No  ...    3   20.393     1   (18, 35]
240      27.180 2.000  Female    Yes  ...    2    7.358     1   (18, 35]
241      22.670 2.000    Male    Yes  ...    2    8.822     1   (18, 35]
242      17.820 1.750    Male     No  ...    2    9.820     1    (3, 18]
243      18.780 3.000  Female     No  ...    2   15.974     1   (18, 35]

[244 rows x 10 columns]

In [33]:
df.groupby(['time', 'bin_total'])[['ones']].count()

                  ones
time   bin_total
Lunch  (3, 18]      45
       (18, 35]     21
       (35, 60]      2
Dinner (3, 18]      82
       (18, 35]     80
       (35, 60]     14

In [34]:
df.groupby(['time', 'bin_total'])[['ones']].count().groupby(level = 0).apply(
    lambda x:
      x/x.sum() * 100
)

                   ones
time   bin_total
Lunch  (3, 18]   66.176
       (18, 35]  30.882
       (35, 60]   2.941
Dinner (3, 18]   46.591
       (18, 35]  45.455
       (35, 60]   7.955

**Pivot**: Tabla dinÃ¡mica (es de pandas)

In [35]:
df.groupby(['sex', 'time'])[['total_bill']].mean()

               total_bill
sex    time
Male   Lunch       18.048
       Dinner      21.461
Female Lunch       16.339
       Dinner      19.213

In [36]:
df_gp = df.groupby(['sex', 'time'])[['total_bill']].mean().reset_index()
df_gp

      sex    time  total_bill
0    Male   Lunch      18.048
1    Male  Dinner      21.461
2  Female   Lunch      16.339
3  Female  Dinner      19.213

In [37]:
df_gp.pivot_table(values = 'total_bill', index = 'sex', columns = 'time') #Se modifica la estructura de la tabla
#De la anterior a esta

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

![](https://pandas-docs.github.io/pandas-docs-travis/_images/reshaping_pivot.png)

In [38]:
df.pivot_table(values = 'total_bill', index = 'sex', columns = 'time') #Internamente Pivot table hace el promedio de los datos

time    Lunch  Dinner
sex
Male   18.048  21.461
Female 16.339  19.213

In [40]:
df.pivot_table(values = 'total_bill', index = 'sex', columns = 'time', aggfunc=np.median)
#Con aggfuc puedo cambiar la funcion por default

time    Lunch  Dinner
sex
Male   16.580  19.630
Female 13.420  17.190

In [42]:
df_pivot = df.pivot_table(values = 'total_bill', index = 'sex', columns = 'time', aggfunc=[np.median, np.std])
df_pivot

       median          std
time    Lunch Dinner Lunch Dinner
sex
Male   16.580 19.630 7.953  9.461
Female 13.420 17.190 7.501  8.202

In [43]:
df_pivot.unstack() #Se eliminan las categorÃ­as

        time    sex
median  Lunch   Male     16.580
                Female   13.420
        Dinner  Male     19.630
                Female   17.190
std     Lunch   Male      7.953
                Female    7.501
        Dinner  Male      9.461
                Female    8.202
dtype: float64

In [45]:
df_pivot.unstack().reset_index() #Resetea los indices

  level_0    time     sex      0
0  median   Lunch    Male 16.580
1  median   Lunch  Female 13.420
2  median  Dinner    Male 19.630
3  median  Dinner  Female 17.190
4     std   Lunch    Male  7.953
5     std   Lunch  Female  7.501
6     std  Dinner    Male  9.461
7     std  Dinner  Female  8.202